<div class="form__container">
    <h2>Add A Child</h2>
    <div class="child__form">
        <form action="/child" method="post">
            <div>
                <label for="childName">Child Name</label>
                <input type="text" name="childName" id="childName">
            </div>
            <div>
                <label for="grade">Child Grade</label>
                <input type="text" name="grade" id="grade">
            </div>
            <button type="submit">Add Child</button>
        </form>
    </div>
</div>