{{#if success_msg}}
<div class="success__msg msg">
    {{success_msg}}
    <button type="button" class="close">
        <span>&times;</span>
    </button>
</div>
{{/if}} {{#if error_msg}}
<div class="error__msg msg">
    {{error_msg}}
    <button type="button" class="close">
        <span>&times;</span>
    </button>
</div>
{{/if}}