<div class="form__container">
    <h2>Account Login</h2>
    <div class="login__form">
        <form method="post" action="/users/login">
            <div class="email-group">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="password-group">
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>